# Ignore files outside specified directories and files
/*

# But not these files/folders
!.gitignore
!taskaway_app/
!taskaway_app_uml/
!demo_taskaway.mov

# Don't ignore anything inside these directories
!taskaway_app/**
!taskaway_app_uml/**
